<div class="row" style="background-image: url('/assets/main.jpeg'); background-position: center; background-repeat:no-repeat; background-size:100%; height:500px">
    <div class="ui items container" style="height:100%">
        <div class="item" style="height:30%">
        </div>
        <div class="middle aligned content" style="display:flex; align-items:center; width:100%">
            <div class="header">
                <h1 style="color: white !important;">우리는 아이들의 가능성을 믿습니다.<br>선한 아이들을 응원하는 프로젝트 선;아입니다.</h1>
                <%if user_signed_in?%>
                    <div class="row">
                        <div class="four wide column">
                            <a class="ui primary button" href="/training/word_test_read_j">진단 시작하기</a>
                        </div>
                    </div>
                <%else%>
                <%end%>    
            </div>
        </div>
    </div>
</div>

<div class="ui container">
    <div class="ui row">
        <div class="ui column centered">
            <br>
            <span style="font-size: 1.4em">난독증이라는 증상에 대한 <strong>비싼 진단비와 그보다 더 비싼 훈련비용.</strong><br>
            누구는 한의원에서 누구는 심리상담센터에서, 심지어 누구는 안경점에서. <br>
            <strong>선;아는 검증되지 않은 곳에서</strong> 난독증에 대한 케어를 받는다는 현실에 의문을 가졌습니다.</span><br>
            <br>
        </div>
        
        <div class="ui placeholder segment">
            <div class="ui three column stackable center aligned grid">
                <div class="middle aligned row">
                    <div class="column">
                        <div class="ui icon header">
                        <i class="search icon"></i>
                            난독증 아이를 위해
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui icon header">
                        <i class="world icon"></i>
                        Add New Country
                        </div>
                        <div class="ui primary button">
                        Create
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui icon header">
                        <i class="world icon"></i>
                        Add New Country
                        </div>
                        <div class="ui primary button">
                        Create
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>