<div class="ui" style="background-image: url('/assets/main_img.jpeg'); background-position: center; background-repeat:no-repeat; background-size:100%; height:500px" >
</div>
<div class="ui container">
    <div class="ui grid">
        <div class="">
            <br>
            <h1>우리는 아이들의 가능성을 믿습니다. 모든 아이들은 선(善)합니다.</h1><br>
            <h1> 선한 아이들을 응원하는 프로젝트 선;아입니다.</h1><br>
            <div>
            저희는 난독증을 앓고 계시거나 가능성이 있으신 분들을 돕고자 이 선;아를 기획하게 되었습니다.<br>
            비싼 진단비와 그보다 더 비싼 치료비용<br>
            누구는 안경점에서 누구는 한의원에서 누구는 심리상담센터에서 난독증을 치료받았다 하는 이 현실에 어느 곳이 정답인지 너무나 헷갈리고 있습니다.<br>
            저희는 그런 분들께 조금이나마 도움을 드리고자 보다 이용하기 편리하도록 보다 저렴하게 양질의 서비스를 제공하려 노력하고 있습니다.<br>
            사회를 변화시키고자 하는 5명의 대학생이 모여 만든 프로젝트 선;아입니다.<br>
            </div>
            </div>
        <%if user_signed_in?%>
        <div class="row">
            <div class="four wide column">
                <a class="ui primary button" href="/training/word_test_read_j">진단 시작하기</a>
            </div>
        </div>
        <%else%>
        <%end%>    
    </div>
</div>