<div class="ui" style="background-image: url('/assets/main_img.jpeg'); background-position: center; background-repeat:no-repeat; background-size:100%; height:500px" >
</div>
<div class="ui container">
    <div class="ui grid">
        <div class="row">
            <br>
            <h1>우리는 아이들의 가능성을 믿습니다.</h1>
            <h1> 모든 아이들은 선(善)
        </div>
        <div class="row">
            <div class="four wide column"></div>
            <div class="four wide column"></div>
            <div class="six wide column"></div>
            <div class="four wide column"></div>
        </div>    
    </div>
</div>